---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
      </div>
    </div>

    <main class="site__content">

      <div class="container">
        <div class="page-content">
          <p>Welcome to my website! I am a Ph.D. student in Dr. Nathan Kraft's <a href="https://sites.lifesci.ucla.edu/eeb-kraft/" target="_blank">Plant Community Ecology Lab</a> in the <a href="https://www.eeb.ucla.edu/" target="_blank">Department of Ecology and Evolutionary Biology</a> at UCLA. I received my B.S. in Biology at Brown University, where I was a member of Dr. Dov Sax's <a href="https://www.brown.edu/Research/Sax_Research_Lab/" target="_blank">Conservation Science Lab</a>. My research interests are broadly in plant community ecology and biogeography. Some topics that I am interested in exploring include:

            <ol type="1">
              <li>The relative importane of different fundamental ecological processes (e.g. selection, ecological drift, dispersal) in determining community dynamics along environmental gradients and across spatial scales.</li>
              <li>How local coexistence mechanisms and regional community assembly processes can interact with one another to jointly influence community structure and dynamics.</li>
              <li>How functional or demographic information can be used to better understand species' large-scale environmental tolerances (i.e. climatic niches) and geographic distributions.</li>
            </ol>

            I aim to explore these topics from the perspectives of functional traits, niche concepts, population dynamics, and metacommunity processes. Stay tuned as my research develops!</p>
        </div>
      </div>

      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>

    </main>

    {% include footer.html %}

  </body>

</html>
