---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
      </div>
    </div>

    <main class="site__content">

      <div class="container">
        <div class="page-content">
          <p>I am a Ph.D. student in Dr. Nathan Kraft's <a href="https://sites.lifesci.ucla.edu/eeb-kraft/" target="_blank" rel="noopener noreferrer">Plant Community Ecology Lab</a> in the <a href="https://www.eeb.ucla.edu/" target="_blank" rel="noopener noreferrer">Department of Ecology and Evolutionary Biology</a> at UCLA. My research interests are broadly in plant community ecology and biogeography. More specifically, my current research focuses on characterizing how competitive interactions between annual plant species in a California grassland change along environmental gradients, with the aim of better understanding how spatial environmental heterogeneity maintains species diversity in natural communities. I am also hoping to extend this work to provide insights into how competition can influence species' geographic range dynamics under global environmental change.</p>

          <p>Prior to starting at UCLA, I received my B.S. in Biology (Ecology and Evolutionary Biology Track) at Brown University, where I was a member of Dr. Dov Sax's <a href="https://www.brown.edu/Research/Sax_Research_Lab/" target="_blank" rel="noopener noreferrer">Conservation Science Lab</a>. I also worked with <a href="https://elizabethcmiller.weebly.com/" target="_blank" rel="noopener noreferrer">Elizabeth Miller</a> and <a href="https://wienslab.com/Home.html" target="_blank" rel="noopener noreferrer">Dr. John Wiens</a> (University of Arizona) on the global historical biogeography of percomorph fishes, and with <a href="https://brianjenquist.wordpress.com/" target="_blank" rel="noopener noreferrer">Dr. Brian Enquist</a>'s research group (University of Arizona) at the <a href="https://www.rmbl.org/" target="_blank" rel="noopener noreferrer">Rocky Mountain Biological Laboratory</a> on the functional structure of subalpine meadow communities along an elevational gradient.</p>
        </div>
      </div>

      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>

    </main>

    {% include footer.html %}

  </body>

</html>
